@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@section Styles{
    <link rel="stylesheet" href="~/css/navigation-styles.css">
}

<h1 class="text-danger">@ViewBag.ExceptionTitle</h1>
<h2 class="text-danger">@Model.ExceptionMessage</h2>



